@import '../../app/g-styles';

.link{
    padding: $padding-btn;
    background-color: $accent-color;
    border: none;
    border-radius: $main-b-radius;
    color: $light-color;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover{
    background-color: #ec6f17;
}

.link:active{
    background-color: #e06914;
}
