@import "../../../app/g-styles";

.tdBtns{
    display: grid;
    grid-template-columns: repeat(2,150px);
    justify-content: center;
    grid-column-gap: 20px;
}

.btnContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.smallPlus{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}

.addArticle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noDataBlock{
    margin-top: 5%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
}
