@import '../../app/g-styles';


.modal{
    width: 500px;
    height: 200px;
    background-color: $main-color;
    color: $white-color;
    padding: 30px;
    margin-top: 50px;
    position: relative;
}

.closeModalBlock{
    position: absolute;
    top: 0;
    right: 0;
}

.textCloseBtn{
    font-size: 12px;
    color: $light-color;
}

.title{
    font-size: 16px;
}

.btnContainer{
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close{
    display: none;
}

.open{
    display: block;
}

